@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    padding-bottom: 3rem;
    background-color: rgb(2, 52, 75);
  }
nav {
    background: rgba(0, 0, 0, 0);
    z-index: 2;  
}  

.navbar-nav > li {
    margin-left: 1.5rem;
} 

.navbar-nav > li > a:hover {
    color: rgb(255, 255, 255) !important;
} 

blockquote{
    border-left: 3px solid rgb(43, 42, 42);
    padding-left: 20px;
}
  
  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  .featurette-divider {
    margin: 5rem; /* Space out the Bootstrap <hr> more */
  }

  hr{
      border-top: 1px solid white;
      margin: 5rem;
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  
  
  @media (min-width: 40em) {
      
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
.cover{
            position: relative;
            background-position: center;
            background-size: cover;
            height: 600px;
            z-index: 3;
        }       
        .cover .masking{
            position: absolute;
            width: 100%;
            bottom: 0;
            top: 0;
            background-color: black;
            opacity: 0.5;
            z-index: -1;
        }
        .cover .credit{
            position: absolute;
            left: 10px;
            bottom: 10px;
            color: rgb(255, 255, 255);o
        }
        .cover .social a{
          color: white;
        }

.card{
  border-radius: 30px;
}

.card-img-top{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.img-circle{
clip-path:circle();
height: 600px;
box-shadow: 5px 5px 20px whitesmoke;
}

.separator{
    padding:0px 20px;
}

.separator-white{
    padding:0px 20px;
    border-top: 3px solid white;
    padding: 20px 0px 50px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top: 30px;
}

.judul{
    color:#1d1c1c;
    border-top:3px solid #080707;
    padding:20px 0px 50px;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top:30px;
 }

 .section {
  padding: 100px 0;
  position: relative;
}

.contact-name {
margin-bottom: 30px;
}
.contact-name h5 {
font-size: 22px;
color: #ffffff;
margin-bottom: 5px;
font-weight: 600;
}
.contact-name p {
font-size: 18px;
margin: 0;
}

.social-share a {
width: 35px;
height: 35px;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
text-align: center;
margin-right: 10px;
}
.social-share .dribbble {
box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
background-color: #ea4c89;
}
.social-share .behance {
box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
background-color: #0067ff;
}
.social-share .linkedin {
box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
background-color: #0177ac;
}

.contact-form .form-control {
border: none;
border-bottom: 1px solid #ffffff;
background: transparent;
border-radius: 0;
padding-left: 0;
box-shadow: none !important;
}
.contact-form .form-control:focus {
border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
border-bottom: 1px solid #ff0000;
}
.contact-form .send {
margin-top: 20px;
}
@media (max-width: 767px) {
.contact-form .send {
  margin-bottom: 20px;
}
}

.section-title h2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.contact-form .send {
  margin-top: 20px;
}
.px-btn {
  padding: 0 50px 0 20px;
  line-height: 60px;
  position: relative;
  display: inline-block;
  color: #ffffff;
  background: none;
  border: none;
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(252, 83, 86, 0.6);
  border-right: 1px solid transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 60px;
  height: 60px;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
